.app__login_content {
    background: #f4f4f4;
    padding: 20px 40px;
    height: 100%;

    h4 {
        font-size: 1.2rem;
        letter-spacing: 4px;
        margin-bottom: 3rem;
        color: #bec0cc;
    }

    h3 {
        font-size: 2rem;
        font-weight: 30;
        color: #424553;
    }

    img {
        max-width: 50px;
    }
}