a:hover {
    text-decoration: none;
}

.app__home {
    .app__home__product_list {
        h2 {
            span {
                color: #666e71;
                font-size: 1rem;
            }

            p {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}