.product_details_page__description {


    .product_details_page__description__product_name {


        color: #969696;
        font-size: 13px;

        small {
            color: #424453;
            font-weight: 400;
            margin-bottom: 0;
            font-size: 14px;
        }

        h1 {
            color: #424453;
            font-weight: 600;
            margin-bottom: 0;
            font-size: 20px;
        }
    }

    .product_details_page__description__product_price {
        .price_tag {
            background: #ffea29;
            padding: 20px;
            font-weight: 600;
            font-size: 40px;
            border-radius: 4px 0 0 4px;
            position: relative;
            margin-right: 20px;
            color: #0f384d;
        }

        .mrp_price {
            font-size: 20px;
        }
    }
}