@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

svg {
  vertical-align: baseline;
}

.cursor-pointer {
  cursor: pointer;
}

.add_to_cart_button {


  .ant-btn-primary {
    border-color: #ffea29 !important;
    background: #ffea29 !important;
    color: #000;
  }


  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    color: #000;
    border-color: #ffea29 !important;
    background: #ffea29 !important;
    box-shadow: 0 0 10px #ccc;
  }
}