.site-page-header-ghost-wrapper {
  padding: 24px;
  background-color: #f5f5f5;
}

.copyright_footer {
  position: relative;
  overflow: hidden;

  .footer-logo {
    position: relative;
  }

  .img-fluid,
  .img-thumbnail {
    max-width: 100%;
    height: auto;
  }

  img {
    max-width: 900px;
    margin: 1rem auto 1.5rem;
    width: 100%;
  }

  p {
    color: #0082c3;
    font-size: 1.5rem;

    span {
      color: #85bc4a;
    }
  }

  .copyright {
    color: #424453;
    font-size: 13px;
  }
}